body {
    font-family: Arial, sans-serif;
}

h1 {
    color: maroon;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.console {
    background-color: black;
    color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border: 2px solid greenyellow;
    box-shadow: 0 0 10px greenyellow;
}

.console h2 {
    color: #00FF00;
}

.console p {
    color: #00FF00;
}
