/* Remove the margin and padding from body */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; 
    color: #343a40; 
}

/* Apply the main content styles to .content-wrapper class instead */
.content-wrapper {
    margin: 20px; 
    padding: 0;
}

h1, h2, p {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 50px; 
    margin-bottom: 30px;
    color: maroon; 
}

h2 {
    font-size: 2em;
    margin-top: 30px; 
    margin-bottom: 20px;
    color: #6c757d;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* If you have styles for .container or other specific elements, make sure they don't unintentionally affect the navbar */
