body {
    font-family: Arial, sans-serif;
    margin: 20px; /* Adjust this value to increase or decrease the overall page margin */
    padding: 0;
    background-color: #f8f9fa; 
    color: #343a40; 
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 50px; 
    margin-bottom: 30px;
    color: maroon; 
}

h2 {
    font-size: 2em;
    margin-top: 30px; 
    margin-bottom: 20px;
    color: #6c757d;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    body {
        margin: 10px; /* Smaller margin for smaller screens */
    }
    
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.8em;
    }
    
    p {
        font-size: 1em;
    }
}
