/* Existing styles */
body {
    padding-top: 20px;
    /* Make sure you have Arial here if the rest of the page uses a different font */
    font-family: 'Arial', sans-serif;
}

.my-column {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px 0;
}

@media (max-width: 576px) {
    .my-column {
        margin-bottom: 20px;
    }
}