body {
    font-family: 'Arial', sans-serif;
}

.header-banner {
    background-color: maroon;
    color: white;
    text-align: center;
    padding: 50px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
}

header h1 {
    font-size: 2.75em;
    margin-bottom: 20px;
}

header p {
    font-size: 1.95em;
    margin-top: -20px;
    margin-bottom: 30px;
}

.header-banner em {
    font-size: 0.8em;
}

.header-banner .spacer {
    margin-bottom: 50px;
}

.main-content {
    border: 2px solid maroon;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}
