.footer {
    background-color: maroon;
    padding: 0.25rem 0; /* Reduce padding for top and bottom */
    position: fixed; /* Make the footer's position fixed */
    bottom: 0; /* Position it at the bottom */
    width: 100%; /* Make it span the full width */
    z-index: 1000; /* Ensure it stays on top of other content */
    left: 0; /* Ensure it starts from the left edge */
}

.footer .container {
    padding: 0 1rem; /* Add padding for left and right */
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Space between the text and icons */
    align-items: center; /* Center align vertically */
    max-width: 100%; /* Ensure it spans the full width */
}

.footer .left-content {
    flex-grow: 1; /* Allow the left content to grow */
}

.footer .right-content {
    display: flex;
    justify-content: flex-end; /* Align icons to the right */
    gap: 10px; /* Add space between the icons */
    margin-right: 1rem; /* Add margin to ensure space from the right boundary */
}

.footer, .footer * {
    font-family: 'Arial', sans-serif;
}

.footer h2 {
    color: white;
    margin: 0; /* Remove default margin */
    font-size: 1rem; /* Adjust font size to be smaller */
}

.footer .icon-button {
    color: white;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Reduce width */
    height: 30px; /* Reduce height */
    padding: 3px; /* Add padding for spacing */
}

.footer .icon-button i {
    font-size: 1.2rem; /* Adjust icon size */
}

.footer .icon-button:hover, .footer .icon-button:focus {
    background-color: #953b39;
}

@media (max-width: 768px) {
    .footer .container {
        flex-direction: column;
        text-align: center;
        padding: 0; /* Remove padding on small screens */
    }

    .footer h2 {
        margin-bottom: 10px;
    }

    .footer .right-content {
        justify-content: center; /* Center icons on small screens */
        gap: 5px; /* Reduce space between icons on small screens */
    }
}
