/* Navbar styles */
.navbar {
    background-color: maroon; /* Use important only if necessary */
    padding: 0.5rem 1rem;
}

.navbar, .navbar * {
    font-family: 'Arial', sans-serif !important;
}

.navbar-nav {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.navbar-nav .nav-item {
    position: relative;
    padding: 0 20px; /* Increased padding for more space between items */
}

.navbar-nav .nav-link {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 20px;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    background-color: #953b39;
}

/* Standardize the dropdown arrow with additional space */
.navbar .nav-item.dropdown .nav-link {
    padding-right: 2.5rem; /* Increased padding to ensure space before the arrow */
}
.navbar .nav-item.dropdown .nav-link::after {
    content: '\25BC'; /* Use the standard dropdown arrow */
    font-size: 0.7em;
    position: absolute;
    right: 10px; /* Adjusted position to ensure space between text and arrow */
    top: 50%;
    transform: translateY(-50%);
}

.navbar .dropdown-menu {
    display: none;
    position: absolute;
    background-color: maroon;
    border-radius: 5px;
    margin-top: 0.5rem;
    white-space: nowrap;
}

.navbar .nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: white;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    display: block;
    clear: both;
    white-space: nowrap;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #953b39;
    border-radius: 5px;
}
