/* Base styles for the navbar */
.navbar {
    background-color: maroon;
    padding: 0.5rem 1rem;
    font-family: 'Arial', sans-serif;
}

/* Style navbar navigation items */
.navbar .navbar-nav {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

/* Style for navigation items */
.navbar .nav-item {
    position: relative;
    padding: 0 10px;
}

/* Style for navigation links */
.navbar .nav-link {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 20px;
}

/* Hover and focus states for navigation links */
.navbar .nav-link:hover,
.navbar .nav-link:focus {
    background-color: #953b39;
}

/* Dropdown link padding and after pseudo-element */
.navbar .dropdown .nav-link {
    padding-right: 2rem;
}

.navbar .dropdown .nav-link:after {
    content: '\25BC';
    font-size: 0.7em;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

/* Dropdown menu display and styling */
.navbar .dropdown-menu {
    display: none;
    position: absolute;
    background-color: maroon;
    border-radius: 5px;
    margin-top: 0.5rem;
    white-space: nowrap;
}

/* Show the dropdown menu on hover */
.navbar .nav-item:hover .dropdown-menu,
.navbar .nav-item:focus-within .dropdown-menu {
    display: block;
}

/* Dropdown item styling */
.navbar .dropdown-item {
    color: white;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
}

/* Hover and focus states for dropdown items */
.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
    background-color: #953b39;
    border-radius: 5px;
}
