body {
    background-color: black;
    color: #33ff33; /* Bright green text */
    font-family: 'Courier New', Courier, monospace; /* Monospace font for that retro feel */
    margin: 0;
    padding: 20px;
    height: 100vh; /* Full height of the viewport */
    overflow: hidden; /* Prevent scrolling */
}

.console-container {
    white-space: pre-wrap; /* Allows text formatting with whitespace */
    overflow: auto; /* Allows scrolling within the container if content overflows */
    height: 90%; /* Height of the console container */
    padding: 20px;
    border: 2px solid #33ff33; /* Bright green border */

}

.console-container:focus {
    animation: blink-cursor 1s step-end infinite;
}

.console-text {
    margin: 0; /* Adjusts the margin for the text */
}

@keyframes blink-cursor {
    from { border-right-color: #33ff33; }
    to { border-right-color: transparent; }
}
